body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #FFF;
}
table {
    width: auto;
    border-collapse: collapse;
}
td {
    border: 1px solid #666;
    padding: 8px;
    text-align: left;
    font-weight: normal;
}
table thead td {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: larger;
}